*~
\#*
/session.*
*.elc
/.persistent-scratch
/network-security.data
/projectile-bookmarks.eld
/recentf
/bookmarks
/projectile.cache
/abbrev_defs
/tramp
elpa/
image-dired/
semanticdb/
games/
eshell/
url/
