*~
\#*
/session.*
*.elc
/network-security.data
/projectile-bookmarks.eld
/recentf
/history
/bookmarks
/projectile.cache
/abbrev_defs
/tramp
elpa/
eln-cache/
image-dired/
semanticdb/
games/
eshell/
url/
.lsp-session-v1
eclipse.jdt.ls/
workspace/
company-statistics-cache.el
transient/
smex-items